body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 13px;
}

.nav-logo {
  display: flex;
  justify-content: center;
}

.items-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 155px;
  list-style: none;
  padding: 0;
  padding-top: 10px;
  margin: 0;
}

.item-link {
  color: #4a4a4a;
  text-decoration-line: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #3cdbc0;
  height: 100vh;
  min-height: 300px;
}

.text {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  width: 200px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media all and (min-width: 768px) {
  .nav-bar {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-logo {
    margin-left: 30px;
  }

  .items-list {
    margin-right: 30px;
  }

  .menu-item {
    padding: 10px;
  }

  .text {
    font-size: 40px;
  }
}
